:root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card{
  width: 65vw;
  gap: 3vh;
}

mat-form-field{
  width: 75%;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-title{
  margin-top: 3vh;
}

mat-card-content{
  gap: 0vh;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cange-info-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
}

.profile-photo{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-info{
  margin: 15px;
  font-size: 16px;
  
}
.user{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
