################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VideoHosting-Back-end/.vs/VideoHosting-Back-end
/VideoHosting-Back-end/.vs/ProjectEvaluation
