:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
}

mat-card{
  width: 65vw;
  gap: 3vh;
}

mat-form-field{
  width: 75%;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-title{
  margin-top: 3vh;
}

mat-card-content{
  gap: 0vh;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: center;
}