@if (user$ | async; as user) {
    <div class="user">
    <div class="profile-header">
        @if (profilePhoto !== null && profilePhoto !== undefined && profilePhoto !== "") {
            <img class="profile-photo" src={{profilePhoto}} alt="profile photo">
        }
        @else {
            <img class="profile-photo" src="../../../../assets/photo/Default_pfp.png" alt="profile photo">
        }
        
        <div class="profile-info">
        <h2>{{user.name}} {{user.surname}}</h2>
        <p>Email: {{user.email}}</p>
        @if (user.group) {
            <p>Group: {{user.group}}</p>
        }
        @if (user.faculty) {
            <p>Faculty: {{user.faculty}}</p>
        }
        @if (user.country) {
            <p>Group: {{user.country}}</p>
        }

      </div>

      <div class="user-manage-buttons">
        @if (isMyProfile) {
            <button [routerLink]="['/user/info',user.id]" class="user-manage-button" mat-raised-button color="primary">
                <mat-icon>edit</mat-icon>Edit profile info
              </button>
        }
      </div>    
    </div> 
    <div class="userEditing" *ngIf="isEditing === true">
  
    </div>
    <mat-tab-group class="main-section" *ngIf="isEditing === false">
      <mat-tab label="Videos">    
        <div class="space"></div>  
        <p>Videos</p>
        <!-- <app-blog-list (updateBlogsNumber)="updateBlogsNumber($event)" [isAuthor]="isAuthor" [blogs]="user.blogs.reverse()"></app-blog-list> -->
      </mat-tab>
      <mat-tab label="Liked videos"> 
        <div class="space"></div>  
        <p>Liked</p>
        <!-- <app-articles-list [articles]="articles!.reverse()"></app-articles-list> -->
      </mat-tab>
      <mat-tab label="Disliked videos">
        <div class="space"></div>  
        <p>Disliked</p>
        <!-- <app-photo (updatePhotosNumber)="updatePhotosNumber($event)" [isAuthor]="isAuthor" [isAdmin]="isAdmin" [photos]="user.photos"></app-photo> -->
      </mat-tab>
    </mat-tab-group>   
    
  </div>
}