<div>
  @if (isLoggedIn) {
    <mat-toolbar color="primary">
      <span [routerLink]="['videos']" 
      routerLinkActive ='active' [routerLinkActiveOptions]="{exact:true}">Videos</span>
      <span class="example-spacer"></span>
      
      <div class="topnav">
        
        <div>          
          <button mat-flat-button color="primary" [routerLink]="['subscriptions']" 
          routerLinkActive ='active' [routerLinkActiveOptions]="{exact:true}">Subscriptions</button>
          
          <!-- <button mat-flat-button color="primary" [routerLink]="['myprofile']" 
          routerLinkActive ='active' [routerLinkActiveOptions]="{exact:true}">User</button> -->
  
        </div>  
        
        <app-user-navbar-view></app-user-navbar-view>

      </div>
    </mat-toolbar>
  }
  
  <router-outlet></router-outlet>
</div>
